body {
  background-color: #FAFBFF;
}

img {
	max-width: 100%;
  height: auto;
}

figure img {
	width: 100%;
}

b,
strong {
	font-weight: $font-weight-bolder;
}

time {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding-top: .5rem;
  font-size: $font-size-sm;

	svg {
		display: block;
		width: 1rem;
		height: 1rem;
		margin-right: .5rem;
	}
}