/*************************************************
    Custom Variables
**************************************************/

$animation-time:                                  .4s;
$animation-type:                                  ease-in-out;
$animation-default:                               all $animation-time $animation-type;

$mb-default:                                      1.5rem;

/*************************************************
    Bootstrap Variables
**************************************************/

